[application]
config/name="AIdle PC Elemental Physics"
[physics]
common/physics_ticks_per_second=60
common/max_physics_steps_per_frame=8
[rendering]
renderer/rendering_method="gl_compatibility"
renderer/rendering_method.mobile="mobile"
[layer_names]
3d_physics/layer_1="WorldStatic"
3d_physics/layer_2="WorldDynamic"
3d_physics/layer_3="Player"
3d_physics/layer_4="NPC"
3d_physics/layer_5="Interaction"
3d_physics/layer_6="FluidSensor"
3d_physics/layer_7="ReactionSensor"
3d_physics/layer_8="PreviewOnly"
